@import "tailwindcss";

:root {
	--app-w: 1000px !important;
	--app-px: 1rem !important;

	--header-w: 1000px !important;
	--header-px: 1rem !important;

	--footer-w: 1000px !important;
	--footer-px: 1rem !important;
}


:root {
  --background: oklch(0.2 0 0);
  --foreground: #ededed;
  --tronica-letter-spacing: -0.1em;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-tronica-mono: var(--font-tronica-mono);
}

@layer base {
  .font-tronica-mono {
    letter-spacing: var(--tronica-letter-spacing);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
